.env
/target/
/target-*
.cargo/registry/
.cargo/git/
.vscode/
.idea/
*~
*.swp
.netrwhist
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
rustfmt.toml
.clippy_cache/
*.profdata
*.gcda
*.gcno
/pkg/
/doc/
